<ion-header>
    <ion-toolbar>
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Document Control
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let drive of drives; let i=index"text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
          <h4  (click)="getFolders(drive._id)" >
            {{ drive.name }}
            <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </h4>
          <ion-list *ngIf="isLevel1Shown('idx'+i)">
            <ion-item *ngFor="let folder of folders; let i2=index"  text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
              <h4 (click)="getSubfolders(folder._id)">
                {{ folder.name }}
                <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
              </h4>
              <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
                <ion-item *ngFor="let child of folder.children" text-wrap>
                  <h3>
                  {{ child.name }}
                   </h3>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
      </ion-content>
