<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content padding>
        <ion-card *ngIf="item && item.length">
            XXX{{items | json}}
            YYY{{item | json}}
          <ion-list *ngFor="let i of item">
            <ion-row>
                <button ion-item clear>
                  <ion-icon item-left name="document"></ion-icon>
                  <h4>{{ i.name }}</h4>
                </button>
            </ion-row>
          </ion-list>
        </ion-card>

</ion-content>


